<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.easymall.mapper.ProductMapper">
	<select id="queryProducts" resultType="com.jt.easymall.pojo.Product">
	  select * from t_product limit #{start},#{rows}; 
	</select>
	<select id="queryCount" resultType="int">
	  select count(product_id) from t_product; 
	</select>
	<select id="findProductById" parameterType="string" resultType="com.jt.easymall.pojo.Product">
	  select * from t_product where product_id = #{id}; 
	</select>
	<insert id="saveProduct" parameterType="com.jt.easymall.pojo.Product">
	  insert into t_product (product_id,product_name,product_price,product_category,product_imgurl,product_num,product_description)
	  values (#{productId},#{productName},#{productPrice},#{productCategory},#{productImgurl},#{productNum},#{productDescription});
	</insert>
	<update id="updateProduct" parameterType="com.jt.easymall.pojo.Product">
	  update t_product set 
	  product_name=#{productName},
	  product_price=#{productPrice},
	  product_category=#{productCategory},
	  product_imgurl=#{productImgurl},
	  product_num=#{productNum},
	  product_description=#{productDescription} 
	  where 
	  product_id = #{productId};
	</update>
	
	<delete id="deleteProduct">
	  delete from t_product where product_id = #{ids};
	</delete>
	
</mapper>